body {
	font-family: Manorama;
	margin:0px;
}

@font-face {
  font-family: 'Manorama';
  font-style: normal;
/*   font-weight: 300; */
  /*font-display: swap;*/
  src: url(fonts/noway-regular-webfont.eot); /* For IE6-8 */
  src: local('Noway Regular'), local('Noway-Regular'),
    url(fonts/noway-regular-webfont.woff2)
      format('woff2'),
    url(fonts/noway-regular-webfont.woff)
      format('woff'),
    url(fonts/noway.ttf)
      format('truetype');
}
