body {
	font-family: Manorama;
	margin:0px;
}

@font-face {
  font-family: 'Manorama';
  font-style: normal;
/*   font-weight: 300; */
  /*font-display: swap;*/
  src: url(/fonts/MANO31.eot); /* For IE6-8 */
  src: local('Manorama'), local('Manorama'),
    url(/fonts/MANO31.woff)
      format('woff'),
    url(/fonts/MANO31.ttf)
      format('truetype');
}
